/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


/* WeatherInputForm.css */
.form {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: blue;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
  color: #333333;
  background-color: #ffffff;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

/* WeatherDetails.css */
.list {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333333;
}

.error {
  color: #e57373;
  font-weight: bold;
}

img {
  max-width: 120px;
  max-height: 120px;
  margin-top: 15px;
  border-radius: 50%;
}

.header h1{
  color: red;

}
